.start {
    padding: 6rem 0 3rem;
    background-image: url(/public/pictures/backround22.jpg);
    background-size: 100%;
    text-align: center;
    object-fit: cover;
    -webkit-text-stroke: 2px black;
}

.box-welcome {
    padding-bottom: 8rem;
}

.box-welcome .welcome {
    color: #fff;
    font-size: 7rem;
}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gif-start {
    width: 15%;
    border-radius: 80%;
    margin-right: 4rem;
}


